@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.app[theme='light'] {
  --background: #ffffff;
  --main: #100f1c;
  --dominant: #6649f2;
  --dominant-secondary: #5214cc;
  --dominant-tertiary: #7373e5;
  --grey: #6c6895;
  --grey-secondary: #363640;
  --grey-tertiary: #a3a3bf;
  --danger: #e52817;
  --danger-secondary: #b20f00;
  --danger-tertiary: #ff5b4d;
  --gold: #f7d200;
  --gold-secondary: #e1bb00;
}
.app[theme='dark'] {
  --background: #100f1c;
  --main: #ffffff;
  --dominant: #6649f2;
  --dominant-secondary: #7373e5;
  --dominant-tertiary: #5214cc;
  --grey: #6c6895;
  --grey-secondary: #a3a3bf;
  --grey-tertiary: #363640;
  --danger: #e52817;
  --danger-secondary: #ff5b4d;
  --danger-tertiary: #b20f00;
  --gold: #f7d200;
  --gold-secondary: rgb(255, 229, 32);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Londrina Solid', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
  height: 100vh;
}

button {
  border: none;
}

#root {
  width: 1440px;
}

.app {
  background-color: var(--background) !important;
  max-width: 1440px;
  margin: auto;
  user-select: none;
  padding: 8rem;
}

.container-modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
  overflow: hidden;
}

.overlay {
  background-color: var(--dominant);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: relative;
}
.content-modal {
  background-color: var(--background);
  padding: 3rem;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.3));
  outline: 0.25rem solid var(--dominant);
}

.alert-title {
  font-size: 2rem;
  color: var(--grey-secondary);
  font-weight: 400;
}

.alert-message {
  color: var(--grey);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: lowercase;
}

.container-btns-alert {
  display: flex;
  width: 100%;
  gap: 4rem;
}

.btn-alert {
  font-weight: 300;
  font-size: 1.5rem !important;
  padding: 0.5rem 2rem !important;
  color: var(--main) !important;
  outline: 0.25rem solid var(--dominant-secondary);
}

.app[theme='light'] .btn-alert {
  color: var(--background) !important;
}

.btn-alert:hover {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.2)) !important;
}

.error {
  color: var(--danger);
  font-size: 2rem;
  font-weight: 300;
  margin-top: 3rem;
}

.btn {
  border-radius: 0.5rem;
  font-family: 'Londrina Solid', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
}

.container-btn {
  position: relative;
}

.container-btn:hover::before {
  transform: scale(1.05);
  position: absolute;
  left: -30px;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  content: '»';
  margin-right: -2rem;
  color: var(--main);
}

.btn-shadow {
  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.3));
  transition: all 0.3s ease-out;
}

.btn:hover {
  filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.2));
  transition: all 0.1s ease-in;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 3rem;
}

.container-switch {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.body-switch {
  background-color: var(--dominant);
  width: 4rem;
  height: 1.8rem;
  border-radius: 2rem;
  padding: 0.3rem;
  outline: 0.26rem solid var(--dominant-secondary);
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.switch {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 1rem;
  background-color: var(--background);
  outline: 0.2rem solid var(--dominant-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
  transition: transform 0.1s ease-out;
  cursor: pointer;
  transform: translateX(125%);
}

.switch:active,
.body-switch:active .switch {
  transform: translateX(0%);
}

.icon {
  fill: var(--main);
  font-size: 3rem;
  order: 2;
}

.dark {
  transition: transform 0.1s ease-out;
  transform: translateX(125%);
}

.title {
  font-family: 'Bungee Inline', sans-serif;
  font-size: 4rem;
  line-height: 1;
  color: var(--dominant);
  font-weight: 300;
  background: #5214cc;
  background: linear-gradient(to right, #5214cc 0%, #6649f2 50%, #e52817 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-secondary {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: var(--grey);
  font-weight: 400;
}

.title-tertiary {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--main);
  text-transform: uppercase;
  font-weight: 400;
}
.active {
  outline: 0.4rem solid var(--main);
}

.container-topic {
  display: flex;
  gap: 2rem;
}

.image-topic-container {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-out;
  margin-bottom: 4rem;
  cursor: pointer;
}

.image-topic-container:hover {
  transform: scale(1.1);
  transition: all 0.1s ease-in;
}

.image-topic-container:active {
  transform: scale(1);
}

.image-topic {
  width: 100%;
  height: auto;
}
.container-radios {
  display: flex;
  gap: 2rem;
}
/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.container-radio {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 4rem;
  position: relative;
}

.container-radio span {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--grey-secondary);
  border-radius: 10%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.container-radio span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--grey-tertiary);
  border-radius: 10%;
  transition: all 0.3s;
}

.container-radio:has(.checked) span {
  background-color: var(--dominant-secondary);
}
.container-radio:has(.checked) span::after {
  transition: all 0.3s;
  background-color: var(--dominant-tertiary);
}
.container-radio:hover span {
  transition: all 0.1s ease-in;
  transform: scale(1.1);
}
.container-radio:active span {
  transform: scale(1);
}
.container-radio:hover span::after {
  background-color: var(--dominant-tertiary);
}

.label-radio {
  font-size: 2rem;
  font-weight: 300;
  color: var(--grey-secondary);
  margin-left: 2.4rem;
  cursor: pointer;
}

.container-quiz {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.container-quiz-qna {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.question {
  font-size: 2rem;
  font-weight: 400;
  color: var(--main);
}

.container-ans {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-ans {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: var(--grey-tertiary);
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease-out;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
  width: 100%;
}

.app[theme='dark'] .btn-ans {
  color: var(--grey-secondary) !important;
}

.btn-ans:hover {
  transition: all 0.1s ease-in;
  transform: scale(1.02);
  filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.3));
  background-color: var(--dominant);
  outline: 0.25rem solid var(--dominant-secondary);
}

.app[theme='dark'] .btn-ans:hover {
  color: var(--main) !important;
}

.correct {
  background-color: var(--dominant);
  outline: 0.25rem solid var(--dominant-secondary);
}

.app[theme='dark'] .correct {
  color: var(--main) !important;
}

.wrong {
  background-color: var(--danger);
  outline: 0.25rem solid var(--danger-secondary);
}

.app[theme='dark'] .wrong {
  background-color: var(--danger);
  outline: 0.25rem solid var(--danger-secondary);
  color: var(--main) !important;
}

.wrong:hover {
  background-color: var(--danger);
  outline: 0.25rem solid var(--danger-secondary);
  color: var(--main);
}

.container-btns {
  display: flex;
  gap: 4rem;
}
.container-btn {
  flex-basis: 10%;
}

.btn-sec {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1rem;
  transition: all 0.2s ease-out;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0));
}
.btn-sec:hover {
  filter: drop-shadow(4px 4px 12px rgba(0, 0, 0, 0));
}

.btn-next:disabled,
.btn-finish:disabled {
  background-color: var(--dominant-tertiary);
  outline: 0.25rem solid var(--dominant-secondary);
  color: var(--dominant-secondary) !important;
  cursor: not-allowed;
}

.app[theme='dark'] .btn-next:disabled {
  background-color: var(--dominant-secondary);
  outline: 0.25rem solid var(--dominant-secondary);
}
.btn-next {
  background-color: var(--dominant);
  outline: 0.25rem solid var(--dominant-secondary);
}
.app[theme='dark'] .btn-finish:disabled {
  background-color: var(--dominant-secondary);
  outline: 0.25rem solid var(--dominant-secondary);
  cursor: not-allowed;
}
.btn-finish {
  background-color: var(--dominant);
  outline: 0.25rem solid var(--dominant-secondary);
}

.btn-end {
  background-color: transparent;
  color: var(--danger) !important;
  outline: 0.25rem solid var(--danger);
}
.btn-end:hover {
  background-color: var(--danger);
  outline: 0.25rem solid var(--danger-secondary);
  color: var(--main) !important;
}
.app[theme='light'] .btn-end:hover {
  color: white !important;
}

.container-quiz-progress {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: fit-content;
}

.container-quiz-progress > h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--grey-tertiary);
  font-weight: 400;
}

.container-progress {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.progress-title {
  display: block;
  color: var(--main);
  font-size: 1rem;
  font-weight: 300;
  order: 2;
  color: var(--grey);
}

.main {
  font-size: 2rem;
  color: var(--dominant);
}
.sec {
  font-size: 1rem;
  color: var(--grey);
  font-weight: 300;
  display: inline-block;
  width: 1.2rem;
}

.alert-main {
  display: none;
  visibility: hidden;
}

.alert-sec {
  color: var(--danger);
  font-size: 2rem;
  display: inline-block;
  width: 2rem;
}

.container-progress-bar {
  position: relative;
  /* width: 100%; */
}

.progress-bar {
  height: 2rem;
  width: 100%;
  background-color: var(--dominant-secondary);
  position: absolute;
  top: 160%;
  left: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  outline: 0.25rem solid var(--dominant-secondary);
}

.progress-bar-fill {
  height: 2rem;
  background-color: var(--dominant-tertiary);
  transition: all 0.6s ease-out;
}

.main-message {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--danger);
}
.main-message-new {
  font-size: 1rem;
  color: var(--gold);
}

.sec-message {
  font-size: 1rem;
  color: var(--grey);
}

.container-score {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main-score {
  font-size: 2rem;
  color: var(--gold);
}
.sec-score {
  font-size: 1rem;
  color: var(--grey);
  margin-left: 1px;
}

.container-highscore {
  margin-bottom: 3rem;
}
.main-hs {
  font-size: 1.5rem;
  color: var(--grey-secondary);
}
.sec-hs {
  font-size: 1rem;
  color: var(--grey);
  margin-left: 1px;
}

.btn-challenge {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.footer {
  display: flex;
  margin-top: 4rem;
}

.container-footer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.developer-title {
  font-size: 1rem;
  font-weight: 300;
  color: var(--grey-secondary);
}
.developer-name a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--dominant);
}
.developer-name {
  text-align: left;
  transition: all 0.3s ease-out;
  margin-bottom: 0.3rem;
}
.developer-name:hover a {
  transition: all 0.1s ease-in;
  color: var(--danger);
}
.developer-name:active {
  transform: scale(0.95);
}

.last-updated {
  font-size: 0.6rem;
  color: var(--grey-tertiary);
  font-weight: 300;
}

@media (max-width: 1180px) {
  .app {
    padding: 5rem;
  }
}
@media (max-width: 1080px) {
  .app {
    padding: 4rem;
  }
}
@media (max-width: 1044px) {
  .header {
    gap: 2rem;
    margin-bottom: 0.5rem;
  }
  .title {
    font-size: 3rem;
  }
  .title-secondary {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .title-tertiary {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .container-topic {
    gap: 1rem;
  }
  .image-topic-container {
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
  }
  .active {
    outline: 0.25rem solid var(--main);
  }
  .container-radios {
    gap: 1rem;
  }
  .container-radio {
    margin-bottom: 2rem;
  }
  .label-radio {
    margin-left: 1.8rem;
    font-size: 1.5rem;
  }
  .container-radio span {
    width: 1.1rem;
    height: 1.1rem;
  }
  .container-radio span::after {
    width: 0.6rem;
    height: 0.6rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  .body-switch {
    height: 1rem;
    width: 2rem;
    border-radius: 0.8rem;
    outline: 0.15rem solid var(--dominant-secondary);
    padding: 0.2rem;
  }
  .switch {
    width: 1rem;
    height: 1rem;
    outline: 0.1rem solid var(--dominant-secondary);
    transform: translateX(100%);
  }
  .container-switch {
    gap: 1rem;
  }
  .icon {
    font-size: 1.5rem;
  }
  .question {
    font-size: 1.5rem;
  }
  .btn-ans {
    font-size: 1rem;
  }
  .container-quiz {
    margin-bottom: 3rem;
    gap: 3rem;
  }
  .container-quiz-progress {
    gap: 1rem;
  }
  .container-quiz-progress > h3 {
    font-size: 1.5rem;
  }
  .main {
    font-size: 1.5rem;
  }
  .progress-title {
    font-size: 0.8rem;
  }
  .sec {
    font-size: 0.8rem;
  }
  .progress-bar {
    height: 1.5rem;
    border-radius: 0.25rem;
    outline: 0.2rem solid var(--dominant-secondary);
  }
  .container-btn {
    flex-basis: 9%;
  }
  .btn-sec {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .container-btn:hover::before {
    font-size: 1.25rem;
    left: -25px;
  }
  .main-message {
    font-size: 1.1rem;
  }
  .main-message-new {
    font-size: 0.75rem;
  }

  .container-score {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .container-highscore {
    margin-bottom: 2rem;
  }
  .sec-score,
  .sec-hs {
    font-size: 0.8rem;
  }
  .main-score {
    font-size: 1.5rem;
  }
  .main-hs {
    font-size: 1.2rem;
  }
  .content-modal {
    padding: 2rem;
  }
  .alert-title {
    font-size: 1.5rem;
  }
  .alert-message {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .container-btns-alert {
    gap: 3rem;
  }
  .btn-alert {
    font-size: 1.2rem !important;
    padding: 0.25rem 1.5rem !important;
  }
}
